# DOMAIN_NAME and SUBDOMAIN together determine where n8n will be reachable from
# The top level domain to serve from
# DOMAIN_NAME=my-n8n.local

# The subdomain to serve from
SUBDOMAIN=n8n

# The above example serve n8n at: https://n8n.example.com

# Optional timezone to set which gets used by Cron and other scheduling nodes
# New York is the default value if not set
GENERIC_TIMEZONE=Asia/Almaty

# The email address to use for the TLS/SSL certificate creation
SSL_EMAIL=user@example.com

N8N_API_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiI5MTU3OTg3Mi0xMjhkLTQ2OTItYTY4Ni0xNzI0OGU5NTJhYmMiLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwiaWF0IjoxNzU2MDU1MjE4LCJleHAiOjE3NTg1Njc2MDB9.UfnWKcm3Ad-J-9X4EkicgRoBNDQgd_q6Lu6w5G0M_m4